{% extends "base.html" %}
{% block content %}
<h1 class="rehoming">Rehoming</h1>
{% endblock %}
{% block welcomeinfo %}
<p class="rehoming-info">If you rehome one of our animals, you are adopting the pet permanently – giving them a forever
  home.
  To ensure that this decision benefits both you and your new companion we have a strict rehoming procedure.
  That will allow your new Fureverfriend to gradually tansition into their new environment.
  to find our more please take a look at our Fureverfirends looking for a Furever home below and book a visit!
</p>
<h2 class="bucky">Bucky</h2>

<img src="{{url_for ('static', filename= 'images/bucky_pic.jpg')}}" class="bucky-image" alt="Picture of a rabbit">

<h3 class="bucky-breed"><b>Breed:</b>Netherland Dwarf</h3><br>
<h3 class="bucky-age"><b>Age:</b>1</h3>
<p class="bucky-info">Bucky is a very energentic Rabbit. He loves to play and stretch his legs and have a run and a
  jump. So it is important that our boy has lots of space in which to do this.
  He is very friendly, but also likes his alone time. Would suit a small family with lots of time to give our boy the
  attention and love he deserves.
</p>

<h2 class="doodles">Doodles</h2>

<img src="{{url_for ('static', filename= 'images/doodles-pic.jpg')}}" class="doodles-image" alt="Picture of a rabbit">

<h3 class="doodles-breed"><b>Breed:</b>Greyhound</h3><br>
<h3 class="doodles-age"><b>Age:</b>3</h3>
<p class="doodles-info">Doodles is a very energentic girl. She loves lots of cuddles and attention as well as going for
  long walks and stretching her legs and having a run.
  Doodles would feel most at home with a very active family who send a lot of time outside.
  As well as a family who have plenty of time for her to give her lots of attention and cuddles!
</p>

{% endblock %}
{% block main2 %}
<h1 class="fostering">Fostering</h1>
{% endblock %}
{% block missioninfo %}
<p class="fostering-info">If you choose to foster one of our Fureverfriends, this means that you are wanting to provide
  a temporary home for one of our lovely animals.
  Much like rehoming there is a strict fostering procedure that we follow to ensure the decision to foster is right for
  you and our animals.
  If you are interested in fostering please take a look at the list of our Fureverfriends looking for a temporary home
  below and book a visit!
</p>

<h2 class="fluffy">fluffy</h2>


<img src="{{url_for ('static', filename= 'images/fluffy_pic.jpg')}}" class="fluffy-image" alt="Picture of a rabbit">

<h3 class="fluffy-breed"><b>Breed:</b>Jersey Wooly</h3><br>
<h3 class="fluffy-age"><b>Age:</b>2</h3>
<p class="fluffy-info">Fluffy is a very laid back girl. She likes to have lots of space to have a stretch out and relax.
  A quiet home would be perfect for Fluffy. Maybe a family who have older children and a home that will provide Fluffy
  with plenty of space to run around and hop about.
</p>

<h2 class="mic">Mic</h2>


<img src="{{url_for ('static', filename= 'images/mic-pic.jpg')}}" class="fluffy-image" alt="Picture of a rabbit">

<h3 class="mic-breed"><b>Breed:</b>Greyhound</h3><br>
<h3 class="mic-age"><b>Age:</b>3</h3>
<p class="mic-info">Fluffy is a very laid back boy. He loves his food! as well as lying around in the sunshine! Mic
  would be most suited to a quiet home, with older children.
  He likes his peace and quiet. He does like a cuddle and fuss occasionally but is also quite happy just lying on his
  bed in front of the T.V. Mic also likes to go on nice slow walks around 3 times a day so would suit someone who is
  retired or works part time.
</p>
{% endblock %}
{% block image %}
<img src="{{url_for ('static', filename= 'images/dog-banner.jpg')}}" class="dog-image">
{% endblock %}