{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block image %}
<img src="{{url_for ('static', filename= 'images/squirell-image.jpg')}}" class="squirell-image" alt="image of a squirell">
{% endblock %}
{% block form %}

{% block logintitle %}
<div class="login-text-header">
    <h1 class="edit-booking">Edit Booking</h1>
</div>
{% endblock %}
<form class="viewing-form" method="POST" action="{{url_for('edit',  id=customer.id,) }}">
    <label for="fname" class="viewing-label">First name:</label><br>
    <input type="text" id="fname" class="viewing-label" name="fname" value="{{customer.first_name}}"><br>
    <label for="lname" class="viewing-label">Last name:</label><br>
    <input type="text" id="lname" class="viewing-label" name="lname" value="{{customer.last_name}}"><br>
    <label for="email" class="veiwing-label">Email:</label><br>
    <input type="text" id="email" class="viewing-label" name="email" value="{{customer.email}}"><br>

    <button type="submit" class="book-a-viewing" value="Submit">Save Changes</button>
</form>

{% endblock %}
{% block bookinginfo %}
<h1 class="your-booking">Your Booking:</h1>
<div>
    <ul>
       
        <li class="read-list">First Name:{{customer.first_name}} </li>
        <li class="read-list">Last Name:{{customer.last_name}} </li>
        <li class="read-list">Email:{{customer.email}} </li>

        
        
        

    </ul>
</div>
{% endblock %}
{% block welcomeinfo %}
{% endblock %}
{% block missioninfo %}
{% endblock %}
{% block main2 %}
{% endblock %}