{% extends "base.html" %}
{% block content %}
{% endblock %}
{% block image %}
<img src="{{url_for ('static', filename= 'images/squirell-banner.jpg')}}" class="hedgehog-image">
{% endblock %}
{% block form %}

{% block logintitle %}
<div class="login-text-header">
    <h1 class="login-title">Choose an Animal</h1>
</div>
{% endblock %}
<form class="viewing-form" method="POST" action="{{url_for('success')}}">
    <label for="animal" class="viewing-label">Animal:</label><br>
    <input type="text" id="animal" class="viewing-label" name="animal"><br>
    <label for="animal_name" class="veiwing-label">Animal Name:</label><br>
    <input type="text" id="email" class="viewing-label" name="animal_name"><br>

    <button type="submit" class="book-a-viewing" value="Submit">Book</button>
</form>

{% endblock %}
{% block bookinginfo %}
<h1 class="your-booking">Your Booking:</h1>
<div>
    <ul>
        {% for animal in animals %}
        <li class="read-list">Animal:{{animal.animal}}  </li>
        <li class="read-list">Animal Name:{{animal.animal_name}}</li>
        {% endfor %}

  

    </ul>
</div>
{% endblock %}
{% block welcomeinfo %}
{% endblock %}
{% block missioninfo %}
{% endblock %}
{% block main2 %}
{% for animal in animals %}
{% endfor %}
{% endblock %}