/*General styles to all pages*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-size: 20px;
}

/*Grid and Layout of each page*/

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .4fr 1fr 1fr 0.2fr;
    grid-template-areas:
        "logo navbar navbar navbar"
        "main-image main-image main-image main-image"
        "main1 main1 main2 main2"
        "footer footer footer footer";
}


/*Grid and Layout for booking form*/

.container-checklist {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .4fr 1fr 1fr 0.2fr;
    grid-template-areas:
        "logo navbar navbar navbar"
        "check-image check-image check-image check-image"
        "check-title check-title check-title check-title"
        "footer footer footer footer";

}

/*Styles for Navbar and Logo*/

.logo {
    grid-area: logo;
    background-color: blue;
}

.logo-text {
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 5%;
}

.logo-link {
    text-decoration: none;
    color: #fff;
}

.logo-link:hover {
    text-decoration: underline;
}


.navbar {
    background-color: blue;
    grid-area: navbar;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar li {
    text-decoration: none;
    padding: 30px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:active {
    color: red;
}

/*Styles for main content areas*/

.welcome {
    display: block;
    grid-area: welcome;
}

.welcome-message {
    margin-left: 50%;
}

.Hi {
    display: flex;
    justify-content: center;
}

.welcome-info {
    text-align: center;
    padding: 10px;
}

.main1 {
    background-color: #00FF7F;
    grid-area: main1;
}

.main2 {
    background-color: pink;
    grid-area: main2;
}

.mission-heading {
    display: flex;
    justify-content: center;
}

.mission-info {
    text-align: center;
    padding: 10px;
}

.about {
    display: flex;
    justify-content: center;
}

.about-info {
    text-align: center;
    padding: 10px;
}

.why {
    text-align: center;
    padding: 10px;
}

.rehoming {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.fostering {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.rehoming-info {
    text-align: center;
    padding: 10px;
}

.fostering-info {
    text-align: center;
    padding: 10px;
}

/*Styling for images used on the site and animals looking for new homes*/

.main-image {
    grid-area: main-image;
}


.rabbit-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 400px;
}

.guinea-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.dog-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.squirell-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;

}

.fluffy {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.bucky {
    display: flex;
    justify-content: center;
    margin-top: 3%;

}

.bucky-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.bucky-breed {
    text-align: center;
    padding: 10px;
}

.bucky-age {
    text-align: center;
    padding: 10px;
}

.bucky-info {
    text-align: center;
    padding: 10px;
}

.fluffy {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.fluffy-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.fluffy-breed {
    text-align: center;
    padding: 10px;
}

.fluffy-age {
    text-align: center;
    padding: 10px;
}

.fluffy-info {
    text-align: center;
    padding: 10px;
}

.doodles {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}


.doodles-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.doodles-age {
    text-align: center;
    padding: 10px;
}

.doodles-breed {
    text-align: center;
    padding: 10px;
}

.doodles-info {
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
}


.mic {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.mic-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.edit-booking {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.mic-age {
    text-align: center;
    padding: 10px;
}


.mic-breed {
    text-align: center;
    padding: 10px;
}

.mic-info {
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
}

/*Styling for Meet our animals page*/
.book-meeting {
    display: flex;
    justify-content: center;
}

.checklist-title-container {
    grid-area: check-title;
}

.check-image-container {
    grid-area: check-image;
}

.form {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10%;
}

.viewing-form {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10%;
}

.viewing-label {
    margin-bottom: 20px;
}


.book-a-viewing {
    margin-top: 10%;
    height: 50px;
    width: 25%;
    background-color: brown;
    color: #fff;
    border: 1px solid #000;
}

.book-a-viewing:hover {
    background-color: #D2691E;
}

.your-booking {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.read-list {
    display: block;
    font-size: 20px;
    margin-left: 25%;
    margin-bottom: 2%;
}

.book-meeting {
    margin-top: 5%;
}

.edit-animal-title {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.edit-button {
    color: #fff;
    margin-left: 25%;
    margin-bottom: 5%;
    background-color: green;
    height: 40px;
    width: 60px;
    padding: 10px;
    border: 1px solid #000;
}

.delete-button {
    color: #fff;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: brown;
    height: 40px;
    width: 60px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #000;
}

.edit-button:hover {
    background-color: #6B8E23;
}

.delete-button:hover {
    background-color: #D2691E;
}

/*Styling for footer and social links*/

.footer {
    background-color: brown;
    grid-area: footer;
}

.footer ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

.footer li {
    text-decoration: none;
    padding: 30px;
    list-style-type: none;
    height: 50px;
    width: 100px;
    font-size: 100%;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

/*Media Queries*/

@media only screen and (max-width: 1000px) {
    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.8fr 1fr 1fr 1.2fr 0.8fr;
        grid-template-areas:
            "logo"
            "navbar"
            "main-image"
            "main1"
            "main2"
            "footer";


    }

    .container-checklist {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.8fr 1fr 1fr 1.2fr 0.8fr;
        grid-template-areas:
            "logo"
            "navbar"
            "check-image"
            "check-title"
            "check-title"
            "footer";

    }

    .navbar ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-decoration: none;
    }

    .navbar li {
        text-decoration: none;
        padding: 20px;
    }


    .read-list {
        display: block;
        font-size: 15px;
        margin-left: 25%;
        margin-bottom: 4%;
    }

    .rabbit-image {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        height: 400px;
        object-position: center;
    }

    .dog-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
        object-position: left;
    }

    .squirell-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        overflow: hidden;


    }
}